<% @show_model_errors = @project %>

<% form_for @project, :html => {:class => "project-form"} do |form| %>
    <%= render :partial => "form", :locals => {:form => form} %>
    <div class="submit"><%= form.submit "Update Project" %></div>
<% end %>