<div id="content" class="content">
  <table>
    <tr class="list-header energy-background">
      <td>Type</td>
      <td>Amount</td>
      <td>Emissions</td>
    </tr>
    <% if @energy_consumptions.size > 0 %>
      <%= render :partial => "energy_consumption", :collection => @energy_consumptions %>
    <% else %>
      <tr>
        <td colspan="3" style="text-align: center;">No energy consumptions - click 'Add' to get started</td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @energy_consumptions %>
</div>