<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>

<div>
<% if @roles.size > 0 %>
    <table id="roletable"><tr><td><b>Project</b></td><td><b>Access</b></td><td><b>Remove</b></td></tr>
        <%= render :partial => "role", :collection => @roles %>
    </table>
<% else %>
    User is not currently assigned to any projects
<% end %>
</div>

<% if @user != current_user %>
    <div id="addRight"></div>
    <div id="addRightLink"><%= link_to_remote("Add access right", :url => new_user_role_path(@user), :method => :get) %></div>
<% end %>